body{margin:0;}
header{
	width:100%;
	height:2em;
	line-height:2em;
	background-color:#aaa;
	text-align: center;
	color:#FFF;
}
nav{height:2em;background-color: #aaa;}
ul{
	list-style: none;
	margin: 0;
    border-top: 1px solid #333;
}
li{display: inline-block;line-height: 2em;width:15%;}
li a{width: 100%;display: inline-block;}
footer{
	background: url(../img/sar.jpg) no-repeat center center;
}