@import 'bourbon/bourbon';
@import 'neat/neat';

body{
	margin:0;
	section {
		padding: 20px;
	}
}
header{
	width:100%;
	height:2em;
	line-height:2em;
	background-color:#aaa;
	text-align: center;
	color:#FFF;
}
header h1{margin: 0;}
nav{height:2em;background-color: #aaa;}
ul{
	list-style: none;
	margin: 0;
    border-top: 1px solid #333;
}
ul  li{display: inline-block;line-height: 2em;width:15%;}
li a{width: 100%;display: inline-block;}
footer{
	background: url(../img/sar.jpg) no-repeat center center;
	text-align: center;
}
.tst{
	width:100px;
	height:100px;
	margin: auto;
	background: #ccc;
}
@media only screen and (orientation: portrait){
	.tst{
		background: yellow;
		or:portrait;
	}
}
/*@media only screen and (orientation: landscape){*/
@media  screen and (min-width: 638px){
	.tst{
		background: green;
		or:landscape;
	}
}
$bg_color:#d7d7d7; 

@mixin rounded_arrow($bg_color, $width, $height, $pos: bottom){
  width:$width;
  height:$height;
  background:$bg_color;
  position:absolute;
  @if $pos == 'bottom' {
    bottom:-$height;
    left:50%;
    transform:translate(-50%);
  }@else{
    top:50%;
    left:92%;
    transform:translate(0, -60%) rotate(-90deg);
  }
  &:before, &:after{
    content:'';
    width:$width * 1.1;
    height:$height * 2;
    position:absolute;
    background-color:white;
    border-radius:50%;
    top:0;
  }
  &:before{
    left:-50%;
  }
  &:after{
    right:-50%;
  }
}
.box{
  width:100px;
  height:100px;
  background-color:$bg_color;
  margin:auto;
  position:relative;
}

.arrow{
  &.right { @include rounded_arrow(#ccc, 40px, 25px, right);}
  &.bottom { @include rounded_arrow(#ccc, 40px, 25px, bottom); }
}

#test1{
	font-family: $helvetica;
	.boxes{
		position: relative;
		@include clearfix;
		@include outer-container;
	}
	.box1{
		@include size(100px);
		// @include position(absolute, 100px auto auto 200px);
		float: left;
		background-color: tint(red, 40%);
		margin:5px;
		@include span-columns(2);
	}
	p{
		@include outer-container;
	}
}